body {
    font-family: 'Roboto', sans-serif;
    margin: auto;
}

p {
    margin-top: 0;
}
h3 {
	font-size: 16px;
    margin-bottom: 0;
}
.textLeft {
    text-align: left;
}

#leftSide {
    display: block;
	background-color: #F4F8FB;
	position: absolute;
	left: 0px;
	width: 35%;
    height: 100%;
    border-right: 1px solid #C4D4E1;
    box-sizing: border-box;
}
#leftSide h1{
    color: #1d5da8;
    font-weight: 900;
    margin-left: 30px;
    font-size: 36px;
}
#headerLeft {
    color: #1d5da8;
}
#headerLeft a:link, a:visited {
    color: #1d5da8;
    text-decoration: none;
}

#headerLeft ul {
    width: 100%;
    margin: 0;
    border-bottom: 1px solid #C4D4E1;
}
#headerLeft li {
    display: inline-block;
	margin-left: 5%;
	color: #305F8D;
	padding: 14px 16px;
	text-decoration: none;
	transition: 0.3s;
	font-size: 17px;
	margin-left: 20px;
	list-style: none;
    outline: none;
}
#headerLeft a {
    outline: none;
}

#tabs {
    
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active {
	border-bottom: 5px solid #1d5da8;
    font-weight: 700;
}

.newest {
    float: right;
    font-size: 14px;
    font-weight: 400;
    margin: 20px;
    cursor: pointer;
}
.contentLeft {
    color: rgba(0,0,0,0.85);
    margin-top: 40px;
}
.boxLeft {
    display: block;
    width: 100%;
    padding: 10px 5px;
    box-sizing: border-box;
    cursor: pointer;
    margin-bottom: 5px;
    overflow: hidden;
}

.boxImg{
    margin-left: 20px;
    display: inline-block;
    width: 10%;
}
.boxImg img {
    vertical-align: middle;
}

.boxLeftSelected {
    background-color: #E7EDF1;
}

.contentBoxLeft {
    display: inline-block;
    overflow: hidden;
    width: 80%;
    vertical-align: middle;
    height: 100%;
}

#rightSide {
    display: block;
	background-color: white;
	position: absolute;
	right: 0px;
	width: 65%;
	text-align: center;
    box-sizing: border-box;
    
}

.boxRight {
    display: block;
    padding: 0px;
    margin: 20px 50px;
    border: 1px solid #C4D4E1;
    border-radius: 4px;
    box-sizing: border-box;
    overflow: hidden;
    height: 100%;
}

.contentBoxRight {
    display: inline-block;
    overflow: hidden;
    width: 70%;
    vertical-align: middle;
    box-sizing: border-box;
    margin: 0;
}

textarea {
	width: 88%;
	height: 110px;
	padding: 12px 20px;
	box-sizing: border-box;
	border: 1px solid #C4D4E1;
	border-radius: 4px;
	font-size: 14px;
    margin: 0px 50px;
    resize: none;
}

#submitBtn {
	background-color: #4990E2;
	border: 1px solid #1d5da8;
	color: white;
	padding: 12px 40px;
	text-align: center;
	font-size: 16px;
	margin: 5px 52px 2px;
	cursor: pointer;
	border-radius: 5px;
    float: right;
    transition: 1s ease;
}

#submitBtn:hover {
    background-color: #1d5da8;
}


.writeAnswer {
    margin: auto;
    font-size: 16px;
    font-weight: 700;
    float: left;
    margin: 20px 55px 3px;
}

::-webkit-input-placeholder{
    font-weight: bold;
}
